*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/variables.tf
terraform/variables.tf
/packer/variables.json

