{
    "SERVICE_ACCOUNT_KEY_FILE" : "key.json",
    "SOURCE_IMAGE_FAMILY": "image_family",
    "FOLDER_ID": "my-folder-id",
    "SSH_USERNAME": "user-for-ssh-connecting",
    "ZONE": "zone"
    "HOME_DIRECTORY": "/home/appuser"
}
